name: Fabrique d'Images Airgap
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Récupérer les fichiers du dépôt
        uses: actions/checkout@v4

      - name: Télécharger les images Cert-Manager
        run: |
          # On télécharge les 3 images nécessaires pour débloquer ton installation actuelle
          docker pull quay.io/jetstack/cert-manager-cainjector:v1.16.5
          docker pull quay.io/jetstack/cert-manager-controller:v1.16.5
          docker pull quay.io/jetstack/cert-manager-webhook:v1.16.5

      - name: Emballer les images en .tar
        run: |
          # On crée le paquet d'images
          docker save \
            quay.io/jetstack/cert-manager-cainjector:v1.16.5 \
            quay.io/jetstack/cert-manager-controller:v1.16.5 \
            quay.io/jetstack/cert-manager-webhook:v1.16.5 \
            -o cert-manager-images.tar
          
          # On compresse pour que le téléchargement soit plus rapide
          gzip cert-manager-images.tar

      - name: Créer le lien de téléchargement
        uses: actions/upload-artifact@v4
        with:
          name: paquet-cert-manager
          path: cert-manager-images.tar.gz
