name: Recup Briques Finales Rancher
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Telechargement des images cibles
        run: |
          # On prend les versions exactes que ton Kubernetes demande
          docker pull rancher/rancher:v2.10.2
          docker pull rancher/shell:v0.3.0
          
          # Emballage
          docker save rancher/rancher:v2.10.2 rancher/shell:v0.3.0 -o rancher-final.tar
          gzip rancher-final.tar

      - name: Export du paquet
        uses: actions/upload-artifact@v4
        with:
          name: paquet-final-rancher
          path: rancher-final.tar.gz
