name: Recuperation CAPI et Upgrade
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Telechargement des images critiques
        run: |
          # Image CRITIQUE pour le 502 (CAPI Controller)
          docker pull rancher/mirrored-cluster-api-controller:v1.8.3
          
          # Image pour la maintenance (System Upgrade)
          docker pull rancher/system-upgrade-controller:v0.14.2

          # Emballage en .tar
          docker save \
          rancher/mirrored-cluster-api-controller:v1.8.3 \
          rancher/system-upgrade-controller:v0.14.2 \
          -o rancher-capi-fix.tar
          
          # Compression pour le transfert
          gzip rancher-capi-fix.tar

      - name: 2. Export du fichier
        uses: actions/upload-artifact@v4
        with:
          name: paquet-final-capi
          path: rancher-capi-fix.tar.gz
          retention-days: 1
