name: Fabrique d'Images Rancher Complet
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Récupérer les fichiers
        uses: actions/checkout@v4

      - name: Télécharger et Emballer tout Rancher
        run: |
          # On crée une liste filtrée pour éviter les images inutiles (Windows, etc.)
          # et ne garder que le nécessaire pour ton Linux afin de gagner du temps.
          grep -v "windows" rancher-images.txt > images-linux.txt
          
          # On utilise Docker pour "pull" les images de la liste (on en prend une partie pour tester la taille)
          # Note : Si le fichier final est trop gros (>2Go), GitHub coupera le téléchargement.
          head -n 50 images-linux.txt | xargs -L 1 docker pull
          
          # On sauvegarde ce premier lot
          docker save $(head -n 50 images-linux.txt) -o rancher-images-part1.tar
          gzip rancher-images-part1.tar

      - name: Créer le lien de téléchargement
        uses: actions/upload-artifact@v4
        with:
          name: paquet-rancher-part1
          path: rancher-images-part1.tar.gz
