name: Sauvetage Rancher Air-Gap
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Telechargement des images manquantes
        run: |
          # Image du Webhook (Le responsable du 502)
          docker pull rancher/rancher-webhook:v0.6.3
          
          # Images de Fleet (Le gestionnaire interne)
          docker pull rancher/fleet:v0.11.3
          docker pull rancher/fleet-agent:v0.11.3
          
          # Image "Pause" (Souvent demandee par Kubernetes en secours)
          docker pull rancher/mirrored-pause:3.6

      - name: 2. Emballage en TAR.GZ
        run: |
          # On met tout dans un seul paquet
          docker save \
          rancher/rancher-webhook:v0.6.3 \
          rancher/fleet:v0.11.3 \
          rancher/fleet-agent:v0.11.3 \
          rancher/mirrored-pause:3.6 \
          -o rancher-fix-502.tar
          
          # On compresse pour aller plus vite
          gzip rancher-fix-502.tar

      - name: 3. Mise a disposition du fichier
        uses: actions/upload-artifact@v4
        with:
          name: paquet-sauvetage-502
          path: rancher-fix-502.tar.gz
          retention-days: 1
