name: Fabrique d'Images Rancher
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Nettoyer et Préparer la liste
        run: |
          # On vérifie si le fichier est là
          if [ ! -f rancher-images.txt ]; then echo "Fichier rancher-images.txt manquant !"; exit 1; fi
          
          # On enlève les images Windows et on prend les 20 premières
          grep -v "windows" rancher-images.txt | head -n 20 > list-mini.txt
          echo "Images à télécharger :"
          cat list-mini.txt

      - name: Téléchargement des images
        run: |
          while read img; do
            echo "Pulling $img..."
            docker pull "$img" || echo "Échec pour $img, on continue..."
          done < list-mini.txt

      - name: Sauvegarde et Compression
        run: |
          # On crée le paquet uniquement avec les images réussies
          IMAGES=$(docker images --format "{{.Repository}}:{{.Tag}}" | grep -v "none")
          docker save $IMAGES -o rancher-mini.tar
          gzip rancher-mini.tar

      - name: Téléchargement de l'artéfact
        uses: actions/upload-artifact@v4
        with:
          name: paquet-rancher-essentiel
          path: rancher-mini.tar.gz
